/*
Текст:
rgba(0,0,0,1) - заголовки
rgba(70,70,70,1) - основной текст

все элементы header (кроме placeholder-а и "Найти"):
rgba(0,0,0,1) - покой
rgba(0,0,0,0.6) - наведение
rgba(0,0,0,0.3) - нажатие

яркие кнопки:
rgba(0,0,0,1) - покой, наведение
rgba(0,0,0,0.3) - нажатие

кнопки в "Информация для покупателей":
rgba(0,0,0,1) - покой, наведение
#f7e184 - нажатие

форма:
rgba(70,70,70,0.4) - основной
rgba(70,70,70,1) - фокус

breadcrumbs:
rgba(0,0,0,0.3) - покой
rgba(0,0,0,0.6) - наведение
rgba(0,0,0,0.1) - нажатие

сортировка:
rgba(0,0,0,0.3) - покой
rgba(0,0,0,0.6) - наведение
rgba(0,0,0,1) - нажатие

элементы фильтра:
rgba(0,0,0,1) - основной
rgba(0,0,0,0.2) - стоимость
#a6a6a6 - disabled

кнопка "Добавить к сравнению":
rgba(0,0,0,0.5) - покой
rgba(0,0,0,1) - наведение
rgba(0,0,0,0.2) - нажатие

пагинация:
rgba(0,0,0,0.3) - основной
rgba(0,0,0,1) - текушая стр
rgba(0,0,0,1) - "вперед/назад"
rgba(0,0,0,0.3) - disabled "вперед/назад"

Футер логотип, иконки, логотип академии
rgba(255,198,0,1) - покой
rgba(255,198,0,0.6) - наведение
rgba(255,198,0,0.3) - нажатие

Футер меню по пользователю и покупкам
rgba(255,255,255,0.7) - покой
rgba(255,255,255,1) - наведение
rgba(255,255,255,0.3) - нажатие

Футер навигация по сайту
rgba(255,255,255,1) - покой
rgba(255,255,255,0.6) - наведение
rgba(255,255,255,0.3) - нажатие

Фон:
rgba(240,197,46,0.5) - желтый фон header-a
rgba(240,197,46,0,5) - желтый фон кнопок
rgba(240,197,46,0.5) - желтый фон категорий товаров покой
rgba(240,197,46,1) - желтый фон категорий товаров наведение,нажатие
#e5e5e5 - серый фон слайдера "Информация для полупателей"
#464646 - серыий фон футера
#eeeeee - серый цвет фильтра в каталоге
#ebebeb - серый цвет сортировки в каталоге
#dcdcdc - серый цвет поля "Фильтр" в каталоге
#ebebeb - пагинация

*/

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/


/* --------------------------- interval -------------------------------------- */
.interval {
    position: relative;
    height:40px;
}

.interval_line{
    position:absolute;
}

.button_start,
.button_end{
    display:block;
    position:absolute;
    height:23px;
    width:20px;
    background-image: url("../img/filter-button.svg");
}

.button_end{
    left:150px;
}

.number_start,
.number_end{
    position:absolute;
    top:25px;
}

.number_end{
    left:140px;
}

/* -------------------------------------------------------------------------- */