@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2');
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/opensanslight.woff2') format('woff2');
         url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/opensans.woff2') format('woff2');
         url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page{
    margin: 0;
    padding: 0;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: rgba(70,70,70,1);
}

.container{
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
}

.header{
    color: rgba(0,0,0,1);
}

.header>.container{
    background: linear-gradient(transparent 40px, rgba(247,226,150,1) 40px);
}

.page_menu{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.header_logo{
    width: 163px;
    height: 34px;
}

.header_logo:hover,
.header_logo:focus{
    opacity: 0.6;
}

.header_logo:active{
    opacity: 0.3;
}

.header_logo:not([href]):hover,
.header_logo:not([href]):focus,
.header_logo:not([href]):active{
    opacity: 1;
}

.header_middle{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.search{
    display: flex;
    width: 440px;
    padding: 0;
    margin: 0;

    font-size: 0;
}

.search_element{
    flex-grow: 1;
    padding: 9px 0 10px 40px;

    font-size: 15px;
    font-weight: 300;
    font-family: 'OpenSans', Arial, sans-serif;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);

    background-color: transparent;
    background-image: url('../img/icon_search.svg');
    background-repeat: no-repeat;
    background-position: 2px center;
    border: none;
    border-bottom: 2px solid transparent;
}

.search_element::-webkit-input-placeholder{
    font-size: 15px;
    font-weight: 300;
    font-family: 'OpenSans', Arial, sans-serif;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,0.3);

    background-color: transparent;
}

.search_element::-moz-placeholder{
    font-size: 15px;
    font-weight: 300;
    font-family: 'OpenSans', Arial, sans-serif;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,0.3);

    background-color: transparent;
}

.search_element:-ms-input-placeholder{
    font-size: 15px;
    font-weight: 300;
    font-family: 'OpenSans', Arial, sans-serif;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,0.3);

    background-color: transparent;
}

.search_element:hover::-webkit-input-placeholder{
    color: rgba(0,0,0,0.6);
}

.search_element:hover:-ms-input-placeholder{
    color: rgba(0,0,0,0.6);
}

.search_element:hover::-moz-placeholder{
    color: rgba(0,0,0,0.6);
}

.search_element:focus{
    border-bottom: 2px solid rgba(0,0,0,1);
}

.search_button{
    width: 80px;
    padding: 0;
    margin: 0;

    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(0,0,0,1);

    background-color: transparent;
    border: 2px solid rgba(0,0,0,1);
}

.search_button:hover{
    color: rgba(255,255,255,1);

    background-color: rgba(0,0,0,1);
}

.search_button:active{
    color: rgba(255,255,255,0.3);

    background-color: rgba(0,0,0,1);
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.menu-user{
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;
}

.menu-user a{
    display: block;
}

.menu-user_enter,
.menu-user_profile{
    padding-top: 9px;
    padding-bottom: 10px;

    font-size: 15px;
    font-family: 'OpenSans', Arial, sans-serif;
    text-decoration: none;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
    line-height: 30px;
 }

.menu-user_enter:hover,
.menu-user_profile:hover,
.menu-user_enter:focus,
.menu-user_profile:focus{
    opacity: 0.6;
}

.menu-user_enter:active,
.menu-user_profile:active{
    opacity: 0.3;
}

.menu-user_exit{
    margin-left: 20px;
    padding-top: 9px;
    padding-bottom: 10px;

    font-family: 'OpenSans', Arial, sans-serif;
    text-decoration: none;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,0.3);
}

.menu-user_exit:hover,
.menu-user_exit:focus{
    color: rgba(0,0,0,0.6);
}

.menu-user_exit:active{
    color: rgba(0,0,0,1);
}

.menu-buying{
    display: flex;
    margin: 0;
    padding: 0;

    font-size: 15px;
    list-style: none;
    line-height: 30px;
}

.menu-buying_item:not(:first-of-type){
    margin-left: 40px;
}

.menu-buying_compare,
.menu-buying_cart{
    display: block;
    padding-top: 9px;
    padding-bottom: 10px;

    font-family: 'OpenSans', Arial, sans-serif;
    text-decoration: none;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 1);
}

.menu-buying_compare:hover,
.menu-buying_cart:hover,
.menu-buying_compare:focus,
.menu-buying_cart:focus{
    opacity: 0.6;
}

.menu-buying_compare:active,
.menu-buying_cart:active{
    opacity: 0.3;
}

.header_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.menu_catalog{
    position: relative;

    padding: 0;
    margin: 0;

    list-style: none;
}

.menu-catalog_wrapper{
    position: absolute;

    display: none;
    width: 1100px;
    padding-top: 20px;
    padding-bottom: 33px;
    padding-left: 60px;

    background-color: rgba(247,226,150,1);
}

.menu-catalog-list{
    width: 200px;
    padding: 0;
    margin: 0;

    list-style: none;
}

.menu-catalog-list:first-child{
    width: 240px;
}

.menu-catalog_link{
    display: block;

    font-family: 'OpenSans', Arial, sans-serif;
    line-height: 36px;
    text-decoration: none;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
}

.menu-catalog_link:hover,
.menu-catalog_item:focus{
    opacity: 0.6;
}

.menu-catalog_link:active{
    opacity: 0.3;
}

.menu-info{
    display: flex;
    width: 500px;
    padding: 0;
    margin: 0;

    list-style: none;
}

.menu_link{
    display: block;

    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgba(0,0,0,1);
}

.menu-info_item:nth-child(2){
    margin-left: 39px;
}

.menu-info_item:last-child{
    margin-left: auto
}

.menu_link:hover,
.menu_link:focus{
    opacity: 0.6;
}

.menu_link:active{
    opacity: 0.3;
}

.menu_link_catalog:hover+.menu-catalog_wrapper,
.menu-catalog_wrapper:hover{
    display: flex;
    left: -60px;
}

.gadget_list{
    padding: 0;
    margin: 0;

    list-style: none;
}

.gadget_slide{
    display: none;
    justify-content: space-between;
    height: 500px;  /* не выравнивала текст внутри слайда, поэтому высота слайда сейчас прыгает */
}

.gadget .container{
    background: linear-gradient(rgba(247,226,150,1) 110px, transparent 110px);
}

.gadget_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
}

.gadget_description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 560px;
}

.gadget_lead{
    margin-top: 40px;

    font-size: 47px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
}

.gadget_description>p{
    padding: 0;
    margin: 0;
}

.gadget_text{
    font-family: 'OpenSans', Arial, sans-serif;
    letter-spacing: 0.01em;
}

.gadget_data{
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
}

.gadget_character{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.button_wrapper{
    display: flex;
    justify-content: space-between;
}

.gadget_toggle{ /* сырой временный вариант */
    width: 10px;
    height: 10px;

    font-size: 0;
}

.button{
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    color: rgba(0,0,0,1);

    background-color: transparent;
    border: none;
}

.button:hover,
.button:focus{
    background-color: rgba(240,197,46,1);
}

.button:active{
    color: rgba(0,0,0,0.3);
}

.category{
    margin-top: 95px;
}

.category_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: -50px;
    margin-bottom: 0;
    margin-left: -40px;

    list-style: none;
}

.category_item{
    width: 160px;
    margin-top: 50px;
}

.category_item{
    margin-left: 40px;
}

.category_link{
    display: block;
    text-decoration: none;
}

.category_title{
    margin: 0;

    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
}

.category_title::before{
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 35px;

    background-color: rgba(240,197,46,0.5);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.category_vr::before{
    background-image: url('../img/category-vr.png');
}

.category_monopod::before{
    background-image: url('../img/category-monopod.png');
    background-position: 50% 100%;
}

.category_camera::before{
    background-image: url('../img/category-camera.png');
}

.category_fitbit::before{
    background-image: url('../img/category-fitbit.png');
}

.category_watch::before{
    background-image: url('../img/category-watch.png');
}

.category_quadcopter::before{
    background-image: url('../img/category-quadcopter.png');
}

.category_link:hover .category_title::before,
.category_link:focus .category_title::before{
    background-color: rgba(240,197,46,1);
}

/* не сделала стили при .category_link:active (пока не знаю как это буду делать)  */

.info{
    margin-top: 80px;
    padding-bottom: 70px;

    background: linear-gradient(transparent 100px, rgba(229,229,229,1) 100px);
}

.info>.container{
    display: flex;
    justify-content: space-between;
}

.info_list{
    padding: 0;
    margin: 0;

    list-style: none;
}

.info_control{
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-top: 80px;
    padding-bottom: 70px;

    border-right: 7px solid rgba(0,0,0,1);
}

.info_button{
    padding: 9px 0;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    color: rgba(0,0,0,1);

    background-color: transparent;
    border: none;
}

.info_button:not(:first-child){
    margin-top: 20px;
}

.info_button:hover,
.info_button:focus{
    background-color: rgba(240,197,46,1);
}

.info_button:active,
.info_button-current{
    color: rgba(247,225,132,1);

    background-color: rgba(0,0,0,1);
}

.info-slide{
    display: none;
    flex-direction: column;
    width: 760px;
    margin-left: auto;
    margin-top: 70px;

    background-image: url('../img/info_delivery.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

.current_slide{
    display: flex;
}

.info_title{
    margin: 0;

    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
}

.info_text{
    width: 460px;
    margin-top: 35px;
    margin-bottom: 0;

    font-family: 'OpenSans', Arial, sans-serif;
    letter-spacing: 0.01em;
}

.info_img-delivery{
    width: 136px;
    height: 164px;

    background-image: url('../img/info_delivery.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.info_img-warranty{
    width: 171px;
    height: 194px;

    background-image: url('../img/info_warranty.svg');
    background-repeat: no-repeat;
}

.info_img-credit{
    width: 156px;
    height: 186px;

    background-image: url('../img/info_credit.svg');
    background-repeat: no-repeat;
}

.producer{
    margin-top: 94px;
}

.producer_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: -40px;
    margin-bottom: 0;
    margin-left: -40px;

    list-style: none;
}

.producer_link{
    display: block;
}

.producer_item{
    margin-top: 40px;
    margin-left: 40px;
}

.producer_logo:hover{
    opacity: 0;
}

.producer_dji:hover,
.producer_dji:focus{
    background-image: url('../img/producer_dji_br.png');
    background-repeat: no-repeat;
}

.producer_gopro:hover,
.producer_gopro:focus{
    background-image: url(../img/producer_gopro_br.png);
    background-repeat: no-repeat;
}

.producer_sp_gadgets:hover,
.producer_sp_gadgets:focus{
    background-image: url(../img/producer_sp_gadgets_br.png);
    background-repeat: no-repeat;
}

.producer_vive:hover,
.producer_vive:focus{
    background-image: url(../img/producer_vive_br.png);
    background-repeat: no-repeat;
}

.shop{
    margin-top: 93px;
    padding-bottom: 80px;

    outline: 1px solid black; /* на этой линии будут декоративные элементы */
}

.shop>.container{
    display: flex;
    justify-content: space-between;
}

.shop-about{
    width: 500px;
}

.shop_title{
    margin-top: 50px;
    margin-bottom: 0;

    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
}

.shop_text{
    margin-top: 45px;
    margin-bottom: 0;

    font-family: 'OpenSans', Arial, sans-serif;
    color: rgba(0,0,0,1);
}

.shop-delivery_list{
    padding: 0;
    margin-top: 80px;
    margin-bottom: 0;
}

.shop-delivery_list>li{
    list-style: circle;
    font-weight: 800;
    color: rgba(0,0,0,1);
}

.shop-about .button{
    display: block;
    margin-top: 65px;
}

.shop-contacts{
    width: 560px;
}

.shop_img{
    margin-top: 45px;
}

.shop-contacts .button{
    display: block;
    margin-top: 70px;
}

.footer{
    padding-top: 67px;
    padding-bottom: 65px;

    background-color: rgba(70,70,70,1);
}

.footer_top{
    display: flex;
    justify-content: space-between;
}

.footer_logo:hover,
.footer_logo:focus{
    opacity: 0.6;
}

.footer_logo:active{
    opacity: 0.3;
}

.footer_logo:not([href]):hover,
.footer_logo:not([href]):focus,
.footer_logo:not([href]):active{
    opacity: 1;
}

.footer_top-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 480px;
}

.menu-buying>li{
    margin-left:not(:first-child): 40px;
}

.footer .menu-user_profile,
.footer .menu-user_enter{
    color: rgba(255,255,255,1);
}

.footer .menu-user_profile:hover,
.footer .menu-user_enter:hover{
    opacity: 0.6;
}

.footer .menu-user_profile:active,
.footer .menu-user_enter:active{
    opacity: 0.3;
}

.footer .menu-user_exit{
    color: rgba(255,255,255,0.3);
}

.footer .menu-user_exit:hover,
.footer .menu-user_exit:focus{
    color: rgba(255,255,255,0.6);
}

.footer .menu-user_exit:active{
    color: rgba(255,255,255,1);
}

.footer .menu-buying_compare,
.footer .menu-buying_cart{
    margin-left: 40px;

    color: rgba(255,255,255,1);
}

.footer_middle{
    display: flex;
    margin-top: 50px;
}

.address{
    width: 300px;

    font-family: 'OpenSans', Arial, sans-serif;
    color: rgba(255,255,255,1);
}

.phone{
    width: 300px;
    text-align: right;

    font-family: 'OpenSans', Arial, sans-serif;
    color: rgba(255,255,255,1);
}

.footer_menu-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-left: -40px;
    width: 560px;

    list-style: none;
}

.footer .menu_link{
    color: rgba(255,255,255,1);
}

.footer .menu_item{
    margin-left: 40px;
}

.footer_bottom{
    display: flex;
    margin-top: 65px;
}

.social_list{
    display: flex;
    justify-content: center;
    width: 560px;
    padding: 0;
    margin: 0;
    margin-left: 300px;
}

.copyright{
    width: 300px;
    text-align: right;
}

.social_item:not(:first-child){
    margin-left: 24px;
}

.popup{
    width: 960px;
}

.form{
    padding-top: 97px;
    padding-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.form_wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.form_item{
    display: flex;
    flex-direction: column;
}

.form_wrapper>.form_item{
    width: 360px;
}

.form_item-textarea{
    margin-top: 40px;
}

.popup .button{
    margin-top: 45px;
}

.form_label{
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    color: rgba(0,0,0,1);
}

.form_element{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(70,70,70,1);

    background-color: rgba(242,242,242,1);
    border: 3px solid rgba(242,242,242,1);
    outline: none;
}

.form_element::-webkit-input-placeholder{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(70,70,70,0.4);
}

.form_element::-moz-placeholder{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(70,70,70,0.4);
}

.form_element:-ms-input-placeholder{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(70,70,70,0.4);
}

.form_element:hover{
     background-color: rgba(235,235,235,1);
     border: 3px solid rgba(235,235,235,1);
 }

.form_element:focus{
    color: rgba(70,70,70,1);

    background-color: rgba(255,255,255,1);
    border: 3px solid rgba(240,197,46,0.5);
}

.form_element:invalid{
    background-color: #F6DADA;
    border: 3px solid #F6DADA;
}

.page_title{
    margin: 35px 60px 0;

    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
}

.breadcrumbs{
    display: flex;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: calc(60px - 40px);

    list-style: none;
}

.breadcumbs_item{
    margin-left: 40px;

    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,0.3);
}

.breadcumbs_item:hover,
.breadcumbs_item:focus{
     color: rgba(0,0,0,0.6);
 }

.breadcumbs_item:active{
    color: rgba(0,0,0,0.1);
}

.breadcumbs_item:not([href]):hover,
.breadcumbs_item:not([href]):active{
    color: rgba(0,0,0,0.3);
}

.catalog_wrapper{
    margin-top: 50px;
}

.filter_wrapper{
    width: 330px;

    background-color: #EEEEEE;
}

.filter_header{
    background-color: #DCDCDC;
}

.filter_title{
    padding-top: 23px;
    padding-bottom: 23px;
    margin: 0 70px 0 60px;

    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter{
    margin: 70px 70px 0 60px;
}

.filter_fieldset{
    padding: 0;
    padding-bottom: 40px;

    color: rgba(0,0,0,1);

    border: none;
}

.filter_property{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
}

.filter_list{
    padding: 0;
    margin: 0;

    list-style: none;
}

.filter_item{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
}

.catalog_wrapper>.container{
    display: flex;
}

.catalog{
    display: flex;
    flex-direction: column;
    width: 835px;
    padding-bottom: 80px;
}

.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #EBEBEB;
}

.selection_title{
    padding-top: 23px;
    padding-bottom: 23px;
    margin: 0;
    margin-left: 70px;

    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgba(0,0,0,1);
}

.selection-type-list,
.selection-direction-list{
    display: flex;
    padding: 26px 0;
    margin: 0;

    line-height: 18px;
    list-style: none;
}

.selection_button{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    color: rgba(0,0,0,0.3);
}

.selection_button:hover,
.selection_button:focus{
    color: rgba(0,0,0,0.6);
}

.selection_button:active{
    color: rgba(0,0,0,1);
}

.selection_button:not([href]),
.selection_button:not([href]):hover,
.selection_button:not([href]):active{
    color: rgba(0,0,0,1);
}

.product_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: calc(70px - 35px);
    margin-bottom: 0;
    margin-left: calc(70px - 40px);

    list-style: none;
}

.product{
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-left: 40px;
    margin-top: 40px;
}

.product_img{
    order: 1;
}

.product_wrapper{
    display: flex;
    justify-content: space-between;
    order: 2;
    margin-top: 35px;
}

.product_link{
    text-decoration: none;
}

.product_name{
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,1);
}

.product_price{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.button-grey{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: rgba(0,0,0,0.5);

    background-color: transparent;
    border: none;
}

.product_new{
    display: none; /* пока этот элемент мешает, скрыла */
    padding: 15px 10px;

    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    color: rgba(0,0,0,0.2);
    text-transform: uppercase;

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
}

.product_action{
    display: flex;
    flex-direction: column;
    order: 3; /* навряд ли это свойство нужно, просто чтоб блок сейчас не мешал */
}

.button-grey:hover,
.button-grey:focus{
    color: rgba(0,0,0,1);
}

.button-grey:active{
    color: rgba(0,0,0,0.2);
}

.pagination{
    margin-top: 40px;
    margin-left: 70px;
}

.pagination_list{
    display: flex;
    justify-content: center;
    padding: 23px 0;
    margin-bottom: 0;

    list-style: none;

    background-color: #EBEBEB;
}

.pagination_item-back,
.pagination_item-next{
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    color: rgba(0,0,0,1);
}

.pagination_item-back:hover,
.pagination_item-next:hover,
.pagination_item-back:focus,
.pagination_item-next:focus{
    background-color: #D9D9D9;
}

.pagination_item-back:active,
.pagination_item-next:active{
    color: rgba(0,0,0,0.3);
}

.pagination_item-back:not([href]):hover,
.pagination_item-back:not([href]):active,
.pagination_item-next:not([href]):hover,
.pagination_item-next:not([href]):active{
    color: rgba(0,0,0,1);

    background-color: transparent;
}

.pagination_item{
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.2em;
    color: rgba(0,0,0,0.3);
}

.pagination_item:hover{
    color: rgba(0,0,0,0.6);
}

.pagination_item:active{
    color: rgba(0,0,0,1);
}

.pagination-item-current{
    color: rgba(0,0,0,1);
}

.pagination_item:not([href]):hover,
.pagination_item:not([href]):active{
    color: rgba(0,0,0,1);
}